* {
    font-family: monospace;
}

ul {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    justify-content: space-between;
    list-style-type: none;
}

img {
    padding: 0.5rem;
    /* border: 1px solid black; */
    border-radius: 2px;
    margin: 10px;
    box-shadow: 5px 5px 5px -5px gray;
    width: 150px;
}

.opt {
    background-color: rgb(209, 221, 220);
    border-radius: 5px;
    width: 50%;
    box-shadow: 5px 5px 5px -5px gray;
    list-style-type: none;
}

@media (max-width:700px) {
    .opt {
        width: 80%
    }
}